extends layout

block content
  img.index-banner(src='/images/index-banner.jpg')
  .row
    .col-xs-4
      img(src='/images/index-col1.jpg')
      a.giver(href='#') New Organix Supima Collection
      p
        | Live Good is one of the few companies in the world with access to Organic Supima cotton.
        | Known as the “cashmere of cotton,” Supima’s longer strand length creates the softest and
        | strongest cotton fabric available, retaining brilliant color and lustrous sheen.
    .col-xs-4
      img(src='/images/index-col2.jpg')
      a.giver(href='#') 100% Certified Organic
      p
        | Live Good is one of the few companies in the world with access to Organic Supima cotton.
        | Known as the “cashmere of cotton,” Supima’s longer strand length creates the softest and
        | strongest cotton fabric available, retaining brilliant color and lustrous sheen.
    .col-xs-4
      img(src='/images/index-col3.jpg')
      a.giver(href='#') Our Mission and Ethics
      p
        | Live Good is one of the few companies in the world with access to Organic Supima cotton.
        | Known as the “cashmere of cotton,” Supima’s longer strand length creates the softest and
        | strongest cotton fabric available, retaining brilliant color and lustrous sheen.
