extends layout

block content
  .col-xs-2
    ul.no-underline.list-unstyled
      li
        a(href='#') OUR MISSION
      li
        a(href='#') ORGANIC SUPIMA
      li
        a(href='#') OUR DYE PROCESS
      li
        a(href='#') SUSTAINABILITY
  .col-xs-10
    .row
      img.index-banner(src='/images/mission-banner.jpg')
    .row
      .col-xs-4.beige
        p.giver LIVE GOOD WAS CREATED IN RESPONSE TO A DILEMMA:
        p How can you take great care of yourself while acting responsibly toward the environment?
      .col-xs-8
        p
         | We all want to live a good life — one in which we contribute something positive to the world.
         | But we also yearn for "the good life," a state in which our own mental and physical health is in balance.
        p
         | How can you achieve both goals, caring for your community and environment while respecting your own needs for personal fulfillment?
        p
         | We founded Live Good to forge a path toward that dual achievement. We believe you don't need to compromise. You can live sustainably,
         | supporting the long-term health of your neighbors and the planet, and also live well, in elegance and comfort. We want to help you
         | find that state of harmony with nature, with your community, and with yourself.
        p
         | So we've started a business that reflects this ethos: a Live Good line of home products that upholds each and every aspect of our
         | mission. Everything we make is local. Everything is sustainably sourced and organic. And everything is designed to increase your quality
         | of life. We haven't sacrificed luxury and beauty in our commitment to supporting practices that are ecologically and economically sound.

